@use '../../variables' as vars;

.article-page {
    max-width: 90%;
    margin: 0 auto;

    .post-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid black;

        

        .post-title {
            font-size: 2em;
            max-width: 50%;
            white-space: nowrap;
            overflow: scroll;

            @media screen and (min-width: 800px) {
                white-space: wrap;
                overflow: auto;
            }
        }

        .author {
            display: none;
            font-size: 1.3em;
            // display: flex;
            align-items: center;

            @media screen and (min-width: 800px) {
                display: flex;
                
            }

            img {
                margin-right: .5em;
                // display: none;
                @media screen and (min-width: 800px) {
                    // display: initial;
                
                }
            }
        }

        .post-category {
            display: none;
            font-size: .7em;

            @media screen and (min-width: 800px) {
                display: initial;
            }
        }
    }

    .post-content {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        max-width: 100%;

        img {
            max-width: 100%;
        }

        p,
        ul,
        ol {
            font-size: 1.3em;
        }

        h2 {
            font-size: 1.8em;
        }
    }
}