@use '../../variables' as vars;

.article-page {
    max-width: 90%;
    margin: 0 auto;

    .post-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid black;

        .back-btn {
            font-size: 2.5em;
            margin-right: .5em;
        }

        .post-title {
            font-size: 2em;
        }

        .author {
            display: none;
            font-size: 1.3em;

            @media screen and (min-width: 800px) {
                display: flex;
                align-items: center;
            }

            img {
                margin-right: .5em;
            }
        }

        .post-category {
            display: none;
            font-size: .7em;

            @media screen and (min-width: 800px) {
                display: initial;
            }
        }
    }

    .post-content {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        max-width: 100%;

        img {
            max-width: 80%;
        }

        p,
        ul,
        ol {
            font-size: 1.3em;
        }

        h2 {
            font-size: 1.8em;
        }
    }
}