@use 'variables' as vars;

html {
    max-width: 100%;
    // width: 100%;

    body {
        margin: 0;
        height: 100%;
        max-width: 100%;
        // width: 100%;
        font-family: vars.$primary-font;
        display: flex;
        flex-direction: column;

        main {
            min-height: 75vh;
            max-width: 100%;
        }

        section {
            max-width: 100%;
        }

        h2 {
            font-weight: 800;
            font-size: 1.6em;
        }

        .avatar {
            width: 2.3em;
            height: 2.3em;
            border-radius: 50%;
            object-fit: cover;
            overflow: hidden;
            border: 2px solid vars.$main-color;


        }

        .back-btn {
            font-size: 2.5em;
            margin-right: .5em;
        }

        a {
            text-decoration: none;
            color: vars.$primary-black;
        }

        .logo {
            font-size: vars.$logo-size;
            font-family: vars.$logo-font;
            font-weight: vars.$logo-weight;
            height: fit-content;
        }

        button,
        .button {
            font-family: vars.$primary-font;
            font-weight: 700;
            font-size: 13px;
            background-color: vars.$main-color;
            border: none;
            color: vars.$primary-white;
            padding: .8em;
            border-radius: 50px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .3s ease;

            // width: 8em;
            span {
                margin-right: 5px;
            }

            &:hover {
                background-color: #001ea3;
            }

            &:disabled {
                background-color: #001ea3;
                cursor: not-allowed;
            }
        }

        .delete-btn {
            color: #f44336;
            cursor: pointer;
            // padding: .3em;
        }



        .link {
            color: vars.$main-color;
        }

        .alert {
            color: red;
        }

        .link:hover {
            cursor: pointer;
        }

        form {
            display: flex;
            flex-direction: column;
            // height: 100%;

            input {
                height: 2rem;
                border-radius: 10px;
                border: 1px solid black;
                margin: 1em 0;
                padding: .5em;
                font-size: 1.1em;
            }

            input:disabled,
            select:disabled {
                background-color: #f0f0f0;
                color: #a0a0a0;
                border-color: #d0d0d0;
                cursor: not-allowed;

            }
        }

        &.block {
            overflow: hidden;
        }

        &.dark {
            background-color: vars.$dark-bck-color;
            color: vars.$primary-white ;

            p,
            span,
            h3,
            .avatar,
            .default-avatar,
            .ql-editor.ql-blank::before {
                color: vars.$primary-white ;
            }

            .quill .ql-toolbar button .ql-stroke,
            .quill .ql-toolbar span .ql-stroke {
                stroke: vars.$primary-white !important; // Change la couleur du contour des icônes
            }

            .quill .ql-toolbar button .ql-fill {
                fill: vars.$primary-white !important; // Change la couleur du remplissage des icônes
            }

            .quill .ql-toolbar button:hover .ql-stroke,
            .quill .ql-toolbar button.ql-active .ql-stroke {
                stroke: vars.$main-color !important; // Couleur lors du hover ou lorsque l'icône est active
            }

            .quill .ql-toolbar button:hover .ql-fill,
            .quill .ql-toolbar button.ql-active .ql-fill {
                fill: vars.$main-color !important;
            }

            .result-card,
            .search-results-container,
            .ql-picker-options {
                background-color: vars.$dark-secondary-bck-color;

                .search-result-item {
                    &:hover {
                        background-color: vars.$dark-bck-color;
                    }
                }
            }

            .search-result-item {
                &:hover {
                    background-color: vars.$dark-bck-color;
                }
            }

            .user-title,
            .article-page .post-head {
                border-bottom: 2px solid vars.$primary-white;
            }

            .link {
                color: #7796eb;
            }

            .alert {
                color: red;
            }

            .logo {
                color: vars.$primary-white;
            }

            .main-nav {
                border-bottom: 2px solid vars.$primary-white;
                background-color: vars.$dark-bck-color;
            }

            .menu {
                background-color: vars.$dark-secondary-bck-color;

                .menu-link {

                    p,
                    svg {
                        color: vars.$primary-white;
                    }

                    .logout {
                        color: red;
                    }
                }

            }

            .side-list-container {
                background-color: vars.$dark-secondary-bck-color;

                .see-more-button {

                    &:hover {
                        background-color: vars.$dark-bck-color;
                    }
                }
            }

            .modal-content {
                background-color: vars.$dark-secondary-bck-color;
            }

            .post {
                border-top: 2px solid vars.$primary-white;
            }

            .footer {
                border-top: 2px solid vars.$primary-white;

                .footer-nav {
                    ul {
                        li {
                            color: vars.$primary-white;
                        }
                    }

                }
            }
        }
    }
}