.article-form-container {
    padding: 1rem;
    max-width: 100%;
    margin: 0 auto;

    @media screen and (min-width: 900px) {
        // max-width: 80%;
    }

    form {
        // display: flex;
        // flex-direction: column;
        // gap: 1.5rem;

        .duo-container {
            display: flex;
            flex-direction: column;
            // align-items: center;
            width: 100%;

            @media screen and (min-width: 768px) {
                flex-direction: row;
                justify-content: space-between;
            }

            div {
                display: flex;
                flex-direction: column;

                @media screen and (min-width: 768px) {
                    // flex-direction: row;
                    width: 49%;
                }

                select {
                    height: 3.15rem;
                    border-radius: 10px;
                    border: 1px solid black;
                    margin: 1em 0;
                    padding: .5em;
                    font-size: 1.1em;
                }
            }
        }

        label {
            font-weight: bold;
            font-size: 1rem;
            margin-top: 0.5rem;
        }


        .quill,
        .ql-container,
        .ql-editor {
            min-height: 30em !important;
        }

        .form-footer {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            button {
                width: 100%;
                margin: 1em 0;
            }
        }


    }
}