@use '../../variables' as vars;

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;

    .modal-content {
        position: fixed;
        background-color: vars.$secondary-bckground;
        width: 90%;
        max-width: 600px; // Ajuste selon le design
        height: fit-content;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); // Centre parfaitement
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        @media screen and (min-width: 617px) {
            width: 60%;
        }

        @media screen and (min-width: 1024px) {
            width: 50%;
        }

        @media screen and (min-width: 1440px) {
            width: 35%;
        }

        .modal-header {
            max-width: 100%;
            height: 5%;
            display: inline-flex;
            justify-content: flex-end;
            padding: .6em;

            .close-modal-btn {
                width: 1.5rem;
                height: 1.5rem;
                background-color: vars.$main-color;
                padding: 0.2rem;
                color: vars.$primary-white;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 999px;
                cursor: pointer;
            }
        }

        .modal-main {
            padding: 1em;
            text-align: center;

            @media screen and (min-width: 760px) {
                padding: 0 3em;

            }

            @media screen and (min-width: 1024px) {
                padding: 0 5em;

            }
        }

        .modal-footer {
            padding: 1em;
            text-align: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            @media screen and (min-width: 760px) {
                padding: 0 3em;

            }

            @media screen and (min-width: 1024px) {
                padding: 0 5em;

            }

            button {
                width: 90%;
                height: 3rem;
                font-size: 1em;
                margin: 1.1em auto;

                // @media screen and (min-width: 760px) {
                //     margin-top: 20%;
                // }
            }

            .cancel-btn {
                background-color: vars.$alert-color;
            }
        }
    }

}